body {
    background-color: black;
}

.containers {
    font-size: 36px;
    text-align: center;
}

#div-1 {
    font-size: 46px;
    background: darkseagreen;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

#div-2 {
    background: darkkhaki;
    float: right;
    font-family: 'Beth Ellen', cursive;
    overflow: hidden;
    height: 178px;
}

#div-3 {
    background: magenta;
    color: white;
    font-family: 'Indie Flower', cursive;
    overflow: hidden;
}

#div-4 {
    background: cyan;
    float: right;
    font-family: 'Lobster', cursive;
    height: 198px;
}

#div-5 {
    background: gold;
    font-family: 'Pacifico', cursive;
    overflow: hidden;
}

#div-6 {
    background: burlywood;
    float: right;
    font-family: 'Dancing Script', cursive;
    height: 129px;
} 

#div-7 {
    background: coral;
    font-family: 'Shadows Into Light', cursive;
    overflow: hidden;
}

#div-8 {
    background: lawngreen;
    float : right;
    font-family: 'Lacquer', sans-serif;
    overflow: hidden;
}

#div-9 {
    background: palegoldenrod;
    font-family: 'Blinker', sans-serif;
    height: 170px;
}

footer {
    color: white;
    text-align: center;
    text-decoration: none;
}

footer ul a {
    text-decoration: none;
}