@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
li, a {
    margin: 75px 0 -55px 0;
    color: #03A9F4;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
li {
    width: 230px;
    text-indent: 56px;}
a:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all .5s;
}
aside {
    position: absolute;
    color: white;
    top: 35%;
    right: 10%;
    text-align: right;
}
h1 {
    line-height: 0;
    font-size: 4vw;
    font-weight: 700;
}
h3 {
    float: right;
    line-height: .3;
    font-size: 2.5vw;
    font-weight: lighter;
}
h4 {
    float: left;
    margin-left: -2%;
    font-size: 1.5vw;
    font-weight: lighter;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #03A9F4;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #03A9F4;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0; padding: 0;
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}

/***** BASE STYLES*****/

#laptop1 {
    height: 890px;
}

#about {
    height: 750px;
}

#portfolio1  {
    height: 100px;
}

#portfolio2, #portfolio3, #portfolio4, #portfolio5 {
    height: 500px;
    margin-right: 0px;
    max-width: 1900px;
    width: 100%;
}

#contact {
    height: 300px;
}


/***** GRID ******/

.full-width {
    margin: 0 auto;
    max-width: 1900px;
    width: 100%;
}

.half-width {
    float: left;
    max-width: 950px;
    width: 100%;
}

.third-width {
    float: left;
    max-width: 630px;
    width: 100%;
}


/***Header***/

header h1 {
    font-size: 40px;
    color: white;
    padding-left: 20px;
    font-family: 'Balthazar', serif;
    text-shadow: 2px 2px #fa0075;
}

nav {
    position: fixed;
    text-align: right;
    margin: 15px 0 0 0;
    float: right;
    padding-right: 10px;
}    

nav ul {
    width: 950px;
    margin: 0 auto;
    padding: 5px 0 0 0px;
}

nav ul li {
    font-size: 45px;
    display: inline-block;
    padding: 0 20px 0 0px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px #fa0075;
    font-family: 'Balthazar', serif;
    font-weight: bold;
}

/***Laptop Pic***/

#laptop1 {
    padding-top: 90px;
    background: url('../img/hero-background.png');
    background-size: cover;
    margin: 0 auto;
}

#laptop1 h2 {
    font-size: 130px;
    color: white;
    margin: 0 0 0 130px;
    padding-top: 470px;
    font-family: 'Fenix', serif;
}

#laptop1 span {
    color: #fa0075;
}

/***Portfolio 1***/

#portfolio1 h2 {
    font-size: 46px;
    text-align: center;
    color: #fa0075;
    padding-top: 25px;
    font-family: 'Balthazar', serif;
}


#portfolio2 {
    text-align: center;
}

#portfolio2 h2 {
    font-family: 'Fenix', serif;
    font-size: 30px;
}

#portfolio2 p {
    font-family: 'Fenix', serif;
    font-size: 20px;
}

#portfolio2 img {
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#portfolio3 {
    text-align: center;
}

#portfolio3 h2 {
    font-family: 'Fenix', serif;
    font-size: 30px;
}

#portfolio3 img {
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#portfolio3 p {
    font-family: 'Fenix', serif;
    font-size: 20px;
}

#portfolio4 {
    text-align: center;
}

#portfolio4 h2 {
    font-family: 'Fenix', serif;
    font-size: 30px;
}

#portfolio4 p {
    font-family: 'Fenix', serif;
    font-size: 20px;
}

#portfolio4 img {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#portfolio5 {
    text-align: center;
}

#portfolio5 h2 {
    font-family: 'Fenix', serif;
    font-size: 30px;
}

#portfolio5 p {
    font-family: 'Fenix', serif;
    font-size: 20px;
}


/***About***/
#about {
    background: url('../img/about-me.png');
    background-size: cover;
    margin: 0;
}

#about h2 {
    text-align: center;
    color: #fa0075;
    margin: 0;
    padding-top: 25px;
    font-size: 46px;
    font-family: 'Balthazar', serif;
}

#about h3 {
    font-size: 40px;
    padding-left: 75px;
    font-family: 'Fenix', serif;
}

#about p {
    font-size: 35px;
    padding-left: 75px;
    font-family: 'Fenix', serif;
}

/**Contact**/

#contact {
    margin: 0;
    background-color: black;
}

#contact h3 {
    text-align: center;
    color: #fa0075;
    margin: 0 ;
    padding-top: 20px;
    font-family: 'Balthazar', serif;
    font-size: 30px;
}

#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-left: 105px;
    padding-top: 15px;
}

#contact h2 {
    font-size: 46px;
    text-align: center;
    color: #fa0075;
    margin: 0 ;
    padding-top: 35px;
    font-family: 'Balthazar', serif;
}

#contact .third-width {
    color: white;
}

#hire-invite {
    padding-left: 190px;
}

#email-header {
    text-decoration: none;
    padding-left: 185px;
}

#socialmedia-header {
    padding-left: 15px;
}

#invitation {
    padding-left: 90px
}

footer {
    background: black;
}

footer h5 {
    color: #fa0075;
    text-align: center;
}

footer ul {
    margin: 0 auto;
}

footer ul a {
    color: #fa0075;
    text-decoration: none;
}



